pkgbase = mingw-w64-gstreamer
	pkgdesc = GStreamer Multimedia Framework (mingw-w64)
	pkgver = 1.24.2
	pkgrel = 1
	url = http://gstreamer.freedesktop.org/
	arch = any
	license = LGPL
	makedepends = mingw-w64-meson
	depends = mingw-w64-glib2
	depends = mingw-w64-libxml2
	options = !strip
	options = !buildflags
	options = staticlibs
	source = http://gstreamer.freedesktop.org/src/gstreamer/gstreamer-1.24.2.tar.xz
	sha256sums = 9cafdd23bd180f1681c56cd3a6879a8497ccf24da6f422a6b6f356fa074a8481

pkgname = mingw-w64-gstreamer
